<div class="index">
  <div class="title">Profile</div>


  <div class="view-profile">
    <h1>

      <%= image_tag @user.gravatar_url %>
      <%= @user.username %>
      <ul>
        <h6 style="color: darkblue">

          <dd> Email - <%=@user.email%> </dd>
          <dd> Age - <%=@user.age%></dd>
          <dd> Phone Number - <%=@user.phone_number%></dd>
        </h6>
      </ul>
    </h1>
  </div>
</div>


